<template>
  <div id="app">
    <h1>{{ msg }}</h1>
    <stats></stats>
    <selected></selected>
    <detailstable></detailstable>
  </div>
</template>

<script>
  import Stats from "./Stats.vue";
  import Selected from "./Selected.vue";
  import Detailstable from "./Detailstable.vue";

  export default {
    components: {
      Detailstable,
      Selected,
      Stats},
    name: 'app',
    data() {
      return {
        msg: 'CDR report'
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
