<template>
  <vue-good-table
    title="Детализация"
    :columns="columns"
    :rows="rows"
    :paginate="true"
    :perPage=50
    :paginateOnTop="true"
    :lineNumbers="false"
  />
</template>

<script>
  export default {
    name: 'detailstable',
    data() {
      return {
        columns: [
          {
            label: 'Кто',
            field: 'cid',
            filterable: true,
          },
          {
            label: 'Кому',
            field: 'did',
            filterable: true,
          },
          {
            label: 'Когда',
            field: 'start_stamp',
            filterable: true,
          },
        ],
        rows: []
      }
    }
  }
</script>
