<template>
  <div>
    <ul>
      <li><label>По выбранному запросу: </label></li>
      <li><label>Отвеченые: </label>{{datastats.answered_calls}}</li>
      <li><label>Перезвоненые: </label>{{datastats.has_recall}}</li>
      <li><label>Неотвеченные: </label>{{datastats.not_answered_calls}}</li>
      <li><label>Всего уникальных: </label>{{datastats.unq_cids}}</li>
    </ul>
    <div id="nonansweredform">
      <input v-model="datestart" type="date" id="datestart" name="datestart">
      <input v-model="timestart" type="time"
             id="timestart" name="timestart">
      -
      <input v-model="dateend" type="date" id="dateend" name="dateend">
      <input v-model="timeend" type="time" id="timeend"
             name="timeend">
      <label>Телефонные номера отдела кадров</label>
      <select v-model="trunk">

        <option v-for="trunk in trunks" v-bind:value="trunk.value">{{ trunk.name }}</option>
        <option value="all" selected>Все</option>
      </select>
      <button @click="getStatistics">Запрос</button>

    </div>
    <vue-good-table
      title="Неотвеченые"
      :columns="columns"
      :rows="rows"
      :paginate="true"
      :perPage=10
      :paginateOnTop="true"
      :lineNumbers="false"
    />
  </div>
</template>

<script>
  export default {
    name: 'nonanswered',
    data() {
      return {
        timestart: "00:00",
        datestart: "",
        timeend: "23:59",
        dateend: "",
        trunks: [],
        datastats: {
          answered_calls: 0,
          has_recall: 0,
          not_answered_calls: 0,
          unq_cids: 0
        },
        columns: [
          {
            label: 'Кто',
            field: 'caller_id_number',
            filterable: true,
          },
          {
            label: 'Кому',
            field: 'destination_number',
            filterable: true,
          },
          {
            label: 'Когда',
            field: 'start_stamp',
            filterable: true,
          },
        ],
        trunk: "",
        rows: []
      }
    },
    methods: {
      getStatistics: function () {
        this.$socket.emit('getList', {
          socketEmit: "selectedStats",
          dateStart: this.datestart,
          dateEnd: this.dateend,
          timeEnd: this.timeend,
          timeStart: this.timestart
        })

      }
    },
    sockets: {
      selectedStats: function (dataset) {
        console.log('selectedStats', dataset);
        this.datastats = dataset;
      },
      list: function (dataset) {
        console.log(dataset);
        let results = dataset.results.map((currentValue, index, array) => {
          currentValue.start_stamp = this.$moment(currentValue.start_stamp).add(3, 'h').format('YYYY-MM-DD HH:mm:ss');
//          dataset[i].lastSeen = lastSeen
//          //            .tz('Asia/Krasnoyarsk')
//            .format('YYYY-MM-DD HH:mm:ss');
        })
        this.rows = dataset.results;
      }
    }
  }
</script>
