<template>
  <div id="stats">

    <ul>
      <li><label>За весь период: </label></li>
      <li><label>Отвеченые: </label>{{mainstats.answered_calls}}</li>
      <li><label>Перезвоненые: </label>{{mainstats.has_recall}}</li>
      <li><label>Неотвеченные: </label>{{mainstats.not_answered_calls}}</li>
      <li><label>Всего уникальных: </label>{{mainstats.unq_cids}}</li>
    </ul>
    <ul>
      <li><label>За текущий месяц:</label></li>
      <li><label>Отвеченые: </label>{{monthstats.answered_calls}}</li>
      <li><label>Перезвоненые: </label>{{monthstats.has_recall}}</li>
      <li><label>Неотвеченные: </label>{{monthstats.not_answered_calls}}</li>
      <li><label>Всего уникальных: </label>{{monthstats.unq_cids}}</li>
    </ul>
    <nonanswered></nonanswered>
  </div>
</template>

<script>
  import Nonanswered from "./Nonanswered.vue";

  export default {
    components: {Nonanswered},
    mounted() {
      this.$socket.emit('fullStats', {});
      this.$socket.emit('fullStatsMonth', {});
      console.log('hello')
    },
    name: 'stats',
    data() {
      return {
        mainstats: {

        },
        monthstats: {

        }
      }
    },
    sockets: {
      fullStats: function (dataset) {
        console.log('fullStats', dataset);
        this.mainstats = dataset;

      },
      fullStatsMonth: function (dataset) {
        console.log('fullStatsMonth', dataset);
        this.monthstats = dataset;

      }
    }
  }

</script>
